/build
.DS_Store
/nori
/warptest
/cuda/finalKernel.cu
/ext_build
/cuda/cuda.test.cu
CMakeCache.txt
CMakeFiles
Makefile
*.swp
*.swh
*.cmake
*.exr
*.png
.idea
/cuda/norigl.cbp
/cuda/cuda.test.cu
/cuda/ext_build
